params.ignore_cache = false

profiles {
  uppmax {
      process {
          shell = ['/bin/bash', '-euo', 'pipefail']
          errorStrategy = { task.exitStatus in [255] ? 'retry' : 'terminate' }
          maxRetries = 2
          scratch = true
          executor = 'slurm'
          clusterOptions = { "-A $params.project" }
          cpus = 8
          memory = '60G'
          time = '12h'
      }
  }

  test {
    params {
      input_folder = "${baseDir}/tests/test_resources/runfolder_nocache/"
      include_file = "${baseDir}/tests/test_resources/include.rsync"
      ignore_cache = false
    }
  }
}
