profiles {
    uppmax {
        process {
            shell = ['/bin/bash', '-euo', 'pipefail']
            errorStrategy = { task.exitStatus in [255] ? 'retry' : 'terminate' }
            maxRetries = 2
            scratch = true
            executor = 'slurm'
            clusterOptions = { "-A $params.project" }
            cpus = 1
            memory = '8G'
            time = '3h'
        }
    }
}

params.ignore_cache = false
